*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
}
:root{
    --colorDark1:#112D4E;
    --colorDark2:#3F72AF;
    --colorLight1:#DBE2EF;
    --colorLight2:#F9F7F7;
}
.wrapper{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    color: var(--colorLight1);
    background-image: linear-gradient(#112d4e , #3f72af 100%) ;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 20px;
}
h1{
    text-align: center;
    text-transform: capitalize;

}
.tab-bar{
    display: flex ;
    width: 90%;
    max-width: 550px;
    
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 4rem;
}
.tab{
    cursor: pointer;
    font-size: 0.875rem;
    letter-spacing: 1.75px;
    padding: 5px 8px;   
}
.tab.current-tab{
    background-color: rgba(219 , 226, 239, 0.5);
    border-radius: 4px;
}
.weather-Container{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    margin-block: 2rem;
    
}
.btn-class{
    all: unset;
    background-color:var(--colorDark2) ;
    font-size: 0.85rem;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 10px 30px;
    cursor: pointer;
}
.sub-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grant-location-container{
    display: none;
}
.grant-location-container.active{
    display: flex;
}

.grant-location-container img{
    margin-bottom: 2rem;
}
.grant-location-container p:first-of-type{
    font-size: 1.75rem;
    font-weight: 600;
    text-align: center;
}
.grant-location-container p:last-of-type{
    font-size: 0.85rem;
    font-weight: 500;
    margin-top: 0.75rem;
    margin-bottom: 1.75rem;
    letter-spacing: 0.75px;
}
.loading-container{
    display: none;
} 
.loading-container.active{
    display:flex;
}
.loading-container h4{
    text-transform: uppercase;
}
.user-info-container{
    display: none;
}
.user-info-container.active{
    display: flex;
}
.name{
    display: flex;
    align-items: center;
    gap: 0 0.5rem;
    margin-bottom: 1rem;
}
.name p[data-cityName]{
    font-size: 2rem;
}
.user-info-container p {
    font-size: 1.5rem;
    font-weight: 100;
}
.user-info-container img{
    width: 90px;
    height: 90px;
}
.user-info-container p[data-temp]{
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--colorLight2);
    margin-bottom: 2rem;
}
.name img{
    width: 30px;
    height: 30px;
}
.parameter-container{
    display: flex;
    gap: 10px 20px;
    justify-content: center;
    top: 2rem;
}
.parameter{
    display: flex;
    flex-direction: column  ;
    background-color:  rgba(219 , 226, 239, 0.5);
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 5px 0;
    justify-content: center;
    align-items: center;
    width: 30%;
    max-width: 200px;
}
.parameter img{
    width: 50px;
    height: 50px;
}
.parameter p:first-of-type{
    font-size: 1.15rem;
    font-weight: 600;
    text-transform: uppercase;
}
.parameter p:last-of-type{
    font-size: 1rem;
    font-weight: 200;

}
.form-container{
    display: none;
    width: 90%;
    max-width: 550px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap:0 10px ;
    margin-bottom: 3rem ;
}
.form-container.active{
    display: flex;
}
.form-container input{
    all: unset;
    width: calc(100% - 80px);
    height: 40px;
    padding: 0 20px;
    background-color:  rgba(219 , 226, 239, 0.5);
    border-radius: 10px;
    
}
.form-container input::placeholder{
    color: rgba(225, 225, 225, .7);
}
.form-container input:focus{
    outline: 3px solid rgba(219 , 226, 239, 0.7) ;
}
.form-container button{
    padding:unset;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}